/* -------------------------------------- */

li a {
	font-size: 20px;
	color: green;
}
button {
	height: 30px;
}
body,
html,
header {
	background-color: #e2f3f8 !important;
}
.centering {
	border: solid green 2px;
}
