/* -------------------------------------- */

li a {
	font-size: 25px;
	color: green;
	margin: 10px;
}
button {
	height: 40px;
}
.btnImg {
	height: 40px;
	padding-bottom: 10px;
}
body,
html,
header {
	background-color: #e2f3f8 !important;
}

.card-img-top {
	height: 300px;
}
